.venv/
venv/
env/
.env
*.pem
*.key
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.ipynb_checkpoints/
data/
models/
*.pkl
*.h5
*.keras
*.cbm
*.png
catboost_info/
.DS_Store
Thumbs.db
/tmp
notebooks/
*.zip
